// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$theme-colors: ( "primary": #A1C4CA, "principle": #1EB2A6, "danger": #DC3545, "success": #28A745, "warning": #FFC107, "info": #17A2B8, "light": #F8F9FA, "dark": #343A40);
$grid-breakpoints: ( xs: 0px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px);