@font-face {
    font-family: Monda_Bold;
    src: url(./fontes/Monda/Monda-Bold.ttf);
}

@font-face {
    font-family: Monda_Regular;
    src: url(./fontes/Monda/Monda-Regular.ttf);
}

@font-face {
    font-family: Roboto_Bold;
    src: url(./fontes/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto_Regular;
    src: url(./fontes/Roboto/Roboto-Regular.ttf);
}