* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button:focus,
a:focus {
    box-shadow: none !important;
    outline: none !important;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header .nav-item {
    border-bottom: 2px solid transparent;
}

.header .nav-item:hover {
    border-bottom: 2px solid #1EB2A6;
    transition: 0.7ms;
}

footer {
    background: #EEEEEE;
}

.bg-cinza {
    background-color: #E9E9E9;
}

.font-weight-bold {
    font-weight: bold;
}

.car-title {
    width: 30px;
    height: 30px;
}

.drop-menu {
    border-radius: 3px;
    position: absolute;
    right: 1px;
    top: calc(100% + 30px);
    opacity: 0;
    visibility: hidden;
    padding: 0px 0;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    min-width: 150px;
    z-index: 1000;
}

.dropdown:hover>.drop-menu {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.login {
    height: 100%;
}

.login-modal {
    height: 50vh;
}

.btn-login {
    width: 50px;
    height: 50px;
}

.tab {
    display: none;
}

.float-right {
    float: right;
}


/*
    User dashbourd css
*/

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border: none;
}

#addPedido {
    position: fixed;
    z-index: 1030;
    bottom: 30px;
    right: 30px;
    width: 150px;
    height: 40px;
}

@media(min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

@media (max-width: 768px) {
    .divHeroImg {
        display: none;
    }
    .stepsImg {
        display: none;
    }
    .divImgContact {
        display: none;
    }
    .servicos {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 993px) {
    .divHeroImg {
        display: none;
    }
}

@media (max-width: 768px) {
    .drop-menu {
        left: 4px;
        border-radius: 3px;
        position: absolute;
        top: calc(100% + 30px);
        opacity: 0;
        visibility: hidden;
        padding: 0px 0;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
        min-width: 150px;
    }
    .fs-8 {
        font-size: 0.8rem;
    }
    .hero {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        margin-left: auto;
        margin-right: auto;
    }
}

.img-user {
    height: 30px;
    width: 30px;
}

.imgperfil {
    height: 250px;
    width: 250px;
}

.btn-contacte {
    padding: 10px 30px;
}

.border-left-primary {
    border-left: 5px solid #1EB2A6;
}

.heroTitle {
    font-size: 3.4rem;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

@media (max-width: 435px) {
    .btn-jobs {
        margin-top: 25px;
    }
    .heroTitle {
        font-size: 40px;
    }
}

@media (max-width: 576px) {
    .divBtnPedido {
        margin-bottom: 0.5rem;
    }
    .hero {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        margin-left: auto;
        margin-right: auto;
    }
    .divServicos {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        margin-left: auto;
        margin-right: auto;
    }
    .contact_us {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        margin-left: auto;
        margin-right: auto;
    }
    .footer {
        font-size: 0.8rem !important;
    }
}

.jobsCard {
    white-space: nowrap;
}

.card-img-service {
    width: 117px;
    height: 100px;
}

.img-job-card {
    width: 35px;
    height: 35px;
}

.img-perfil {
    padding: 0.5rem 0rem;
}

.btn-job-detalhes {
    padding: 0rem 0rem;
}

@media (min-width: 992px) {
    .heroHome {
        height: 92vh;
    }
}